body{

    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

u{

    color: darkgreen;
}

p{

    color: silver;
    font-size: 50px;
    text-align: center;
}

h1{

    color:  lightblue;
    text-align: justify;
    font-size: 25px;
}
